---
export interface Props {
  alt?: string; // alt opcional
  width?: number | string; // si quieres cambiar el ancho
  height?: number | string; // si quieres cambiar la altura
}
const { alt = "Logo | davod.es", width = 120, height = "auto" } = Astro.props;
---

<svg
    xmlns="http://www.w3.org/2000/svg"
    width={width}
    height={height}
    viewBox="0 0 222 88"
    fill="none"
    role="img"
    aria-label={alt}
>
    <title>{alt}</title>
    <path d="M48.8 26.3005C48.8 26.3005 23.6 28.3005 6.8 46.4005C-9.53674e-07 54.3005 0 59.4005 0 60.4005C0 61.4005 0.5 63.9005 2 61.5005C3.5 59.1005 24 35.3005 49.7 32.8005C74.3 30.4005 62.8 47.1005 54.2 57.6005C46 67.5005 31.4 75.9005 33.8 71.8005C36.2 67.7005 48.2 48.4005 48.8 47.5005C49.5 46.4005 51.1 44.6005 51 43.9005C50.7 42.3005 47.2 36.9005 45.8 39.4005C45.8 39.4005 27.6 69.5005 24.9 73.4005C24.8 73.6005 24.7 73.8005 24.6 73.9005C23.8 73.8005 23.1 73.5005 22.4 73.1005C17.7 70.1005 20.7 68.7005 19.1 68.7005C17.2 68.7005 16.6 80.9005 28.3 80.6005C28.6 80.6005 28.8 80.6005 29.1 80.6005C29.4 80.6005 29.7 80.5005 30 80.4005C45.6 78.6005 59.3 60.1005 63.6 53.4005C65.8 50.0005 67.6 46.5005 69.1 42.7005C76.2 22.8005 48.8 26.3005 48.8 26.3005Z" fill="white"/>
    <path d="M138.501 31.1001C137.701 29.9001 135.001 25.1001 132.801 27.4001C130.601 29.7001 122.601 40.0001 121.401 41.3001C120.201 42.6001 120.601 41.0001 121.601 39.4001C122.701 37.7001 124.401 35.0001 125.301 34.0001C126.301 33.1001 126.401 31.7001 125.601 30.7001C124.401 29.4001 123.201 28.1001 121.801 27.0001C120.801 26.0001 119.201 25.9001 118.101 26.9001L118.001 27.0001C112.401 31.0001 90.0009 56.6001 90.0009 56.6001C87.8009 58.9001 89.7009 54.4001 89.7009 54.4001C93.4009 45.7001 102.401 34.8001 104.601 34.5001C106.701 34.2001 103.901 30.2001 102.701 28.9001C102.001 27.9001 100.601 27.6001 99.6009 28.3001C99.4009 28.5001 99.2009 28.7001 99.0009 28.9001C97.8009 30.2001 93.2009 35.9001 93.2009 35.9001C93.2009 35.9001 90.5009 32.0001 88.4009 31.2001C86.3009 30.4001 82.5009 32.6001 79.0009 36.4001C73.8009 41.8001 69.8009 48.1001 66.9009 55.1001C63.7009 63.3001 69.3009 66.5001 72.7009 62.9001C76.1009 59.3001 81.0009 53.5001 82.3009 52.4001C83.5009 51.3001 80.4009 57.7001 82.3009 60.3001C83.8009 62.8001 86.9009 63.8001 89.5009 62.7001C90.1009 62.4001 90.6009 62.0001 91.1009 61.5001C94.2009 58.3001 111.901 36.5001 114.201 34.7001C114.201 34.7001 118.801 31.0001 116.801 34.8001C116.801 34.8001 112.401 45.6001 111.601 48.1001C110.801 50.6001 110.501 52.1001 111.501 53.4001C112.401 54.7001 115.701 60.2001 117.401 57.1001C119.101 54.0001 128.701 40.5001 136.501 34.1001C138.301 32.5001 139.301 32.3001 138.501 31.1001ZM74.1009 56.9001C74.1009 56.9001 72.1009 57.9001 74.1009 54.5001C76.1009 50.9001 83.2009 41.2001 87.1009 38.4001C91.0009 35.6001 92.3009 37.7001 90.8009 39.5001C89.4009 41.4001 74.1009 56.9001 74.1009 56.9001Z" fill="white"/>
    <path d="M216.2 11.8C214.4 10.7 212.3 11.8 213.6 12.8C214.9 13.8 217 16.4 214.8 21.6C212.6 26.8 205.6 40.9 190.5 47.2C186.4 48.6 184.4 48.9 185.2 45.3C185.2 45.3 187.5 33 210.3 7.60001C211.4 6.60001 213 7.30002 212.3 5.40002C211.6 3.50002 208.5 -1.29999 206.4 1.10001C201 7.10001 195.9 13.4 191.4 20.1C191.4 20.3 190.6 20.2 190.6 20.2C190.6 20.2 187 15 183.8 16.5C179.4 19 175.4 22.3 172.3 26.3C171.4 25.2 170.4 24.3 169.5 24.5C167.6 24.8 161.9 30.8 160.6 32.4C159.3 34 159.6 33 160.2 30.2C160.8 27.4 158.3 25.4 155.2 24C152.1 22.6 148.9 26.6 148.9 26.6C148.9 26.6 147.1 24.9 145.9 25.8C144.7 26.7 136.1 37.5 134.8 44.7C133.5 51.9 136.2 53.6 140.7 55.4C145.1 57.2 152 46.3 153.3 44.4C155.8 40.5 159 37.1 162.6 34.2C166.9 31.1 169.3 29.1 169.5 30.3C167 34.1 165 38.3 163.7 42.7C162 48.3 166.4 51.3 168.3 49.7C170.2 48.1 177.4 40.9 178.9 39.3C180.4 37.7 180.6 38.5 179.6 40.5C178.6 42.5 177.5 47.2 180.8 50.2C184.2 53.1 188.3 54.6 194.5 52.3C200.7 49.9 222.2 34.5 221.9 21.5C222 21.1 222.5 15.7 216.2 11.8ZM154.4 31C152.6 37.6 144.7 46.5 142.9 48.4C142 49.4 140.4 50.3 141.7 46C143 41.7 149.8 32.7 150.9 31.4C151.8 30.6 151.9 29.2 151.1 28.3L151 28.2C152.1 27.3 156.2 24.3 154.4 31ZM180.5 32.3C176.3 36.6 171.9 41.3 171.1 41.9C170.1 42.8 170.7 41.1 171.8 38.9C176.8 29.5 183.2 23.7 186.5 22.7C189.7 21.7 188.7 23.8 187.5 25C186.8 25.6 184 28.6 180.5 32.3Z" fill="white"/>
    <path d="M81.5993 84.8998C85.1993 82.3998 101.099 71.6998 131.299 68.9998C161.499 66.2998 161.199 69.8998 161.499 71.0998C161.799 72.2998 168.599 72.9998 164.699 69.9998C160.799 66.9998 153.599 60.7998 128.899 62.2998C110.999 63.6998 93.4993 67.6998 76.7993 74.1998C73.3993 75.5998 71.4993 77.1998 72.9993 80.7998C74.4993 84.3998 76.3993 89.0998 78.4993 87.2998C79.3993 86.3998 80.4993 85.5998 81.5993 84.8998Z" fill="white"/>
</svg>